.reveal section img  {
  border: 0;
  padding: 0 !important;
  margin: 0 !important;
}

.reveal section img.about  {
  margin: 0;
}

.simple-image  {
  border: 0;
  padding: 0;
  margin: 0;
}

.reveal section img.book-cover {
  margin: -3%;
  width: 56%;
}

.reveal pre code {
  max-height: 100%;
  max-width: 120%;
  font-size: 120%;
  line-height: 1.2;
}

.reveal section img.about  {
  margin: 0;
  border: 0;
}

.reveal .exercise-hint {
  font-size: 80%;
}

.reveal section img {
  border: 0 none;
  padding: 2%;
}

/* for no gradient in beige*/
/*
body {
  background: none;
  background-color: #f7f3de;
}
*/
.reveal pre code {
  max-height: 1000px;
}

.image-overlay {
    margin: none;
    background-color: rgba(255, 255, 255, 0.75);
    text-shadow: none;
    padding: 2% !important;
    padding: 400px;
}

.image-overlay.title {
  margin-left: 500px;
  margin-right: -100px;
}

.image-overlay.title h1 {
  margin-top: 30px;
  margin-bottom: 70px;
  line-height: 0.9;
}

.image-overlay.title h2.subtitle {
  margin-top: 30px;
}

.image-overlay h2{
  margin: 0;
}

.problem{
  color: #f77646 !important;
}

.solution{
  color: #f77646 !important;
}

.noproblem{
  color: #0a3c9b !important;
}

.full-height-image-background {
  margin-top: -30px !important;
}

.reveal .footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: 0.5em;
}
